<h3>Dear Chapter Lead</h3>
  <p>
    This is to notify of a confirmed sign up for your chapter:<br>
    <ul>
      <li>First name: <b><%= @user.first_name %></b>
      <li>Last name: <b><%= @user.last_name %></b>
    </ul>
    <br>Many thanks,
  </p>
<p>
  <b>The Circle of Young Intrapreneurs</b>
</p>
