<h1>Welcome to COYI </h1>


<div>
  <h2>Business Idea</h2>
  <%= @project.intro %>

</div>
<div>
  <h2>Reason</h2>
  <%= @project.impact %>
</div>
<div>
  <h2>Generate</h2>

  <%= @project.businesscase %>
</div>
