<h3>Dear, <%= @user.first_name %></h3>
  <p>
    Welcome to The Circle of Young Intrapreneurs!
    You have successfully signed up to our site and your username is: <%= @user.email %>.<br>
    <br>Thanks for joining and have a great day!
  </p>
<p>
  <b>The Circle of Young Intrapreneurs</b>
</p>
