<div class="container">
  <div class="row">
    <h1 class= "text-center">New Project</h1>

    <%= render 'form', project: @project %>


    <%= link_to 'Back', user_projects_path, class:"btn btn-default col-md-offset-3 col-md-2"%>

  </div>
</div>
