<div class="row red-sections container-space hidden-sm hidden-xs">
  <div class="container">
    <div id="welcome" class="welcome jumbotron jumbotron-fluid red-sections">
      <h1>
        <span class="title">
          Welcome<br class="hide-for-small">
          to the Circle of<br class="hide-for-small">
          Young&nbsp;Intrapreneurs<br>
        </span>
      </h1>
    </div>
  </div>
</div>

<div id="video" class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="embed-responsive embed-responsive-16by9 shadow-one">
      <iframe width="100%" height="auto" src="https://www.youtube-nocookie.com/embed/r47ac_6I7-Y?rel=0&modestbranding=1&controls=0&showinfo=0&autoplay=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div id="movement" class="row red-sections container-space">
  <div class="container">
    <div class="col-md-4 text-center">
      <img src="images/logo_200.png" alt="">
    </div>
    <div class="col-md-8 text-justify">
      <h2>Pitch to the circle</h2>
      <p>
        Copy here about how you can pitch to the circle and get feedback and support for your project. Large call to action about joining the circle and pitching your first project.
      </p>
      <p>
        <%= link_to "Join the circle", new_user_registration_path, class: "btn btn-primary" %>
      </p>
    </div>
  </div>
</div>

<header class="stories-header">
  <h1>Stories from our clients</h1>
</header>

<div id="stories" class="stories container container-space">
  <div class="row">
    <div class="col-md-4 text-justify">
      <img class="stories_image" src="/barclays.jpg" alt="Barclays" width="140">
      <h4>Barclays RoundUp</h4>
      <p>
        RoundUp is a microdonation initiative conceived within Barclays by intrapreneurs Tim Heard
        and David Spears, which allows
        individuals to make a big difference with their small change using an interactive digital application.
      </p>
      <p>
        The app enables customers to round up their purchases to the nearest pound
        (for example, the cost of a coffee from £2.85 to £3.00), up to a monthly cap, and donate this
        to a chosen charity.
      </p>
      <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div><!-- 1st column end -->

    <div class="col-md-4 text-justify">
      <img class="stories_image" src="/o2_telefonica.jpg" alt="O2" width="140">
      <h4>Connected Homeless</h4>
      <p>
        Connected Homeless is a digital platform created within O2 by intrapreneur Sal Mohammed.
        It connects donors, homeless
        people and organisations through the provision of a variety of services to the homeless community.
        </p>
        <p>The platform accepts donations from private individuals, corporates and government entities, working through a
        crypto-currency based system. Through the consumer-facing (donor) app, users are able to
        donate their spare resources with the click of a button.
      </p>
      <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div><!-- 2nd column end -->

    <div class="col-md-4 text-justify">
      <img class="stories_image" src="/thomson_reuters.jpg" alt="Thomson Reuters" width="140">
      <h4>TicketAid</h4>
      <p>
        TicketAid is a corporate ticket allocation website designed to give employees access to exclusive
        tickets, that would otherwise go unused, whilst raising funds for charity.</p>
        <p>It was brought into being by intrapreneur Matthew O'Shea at Thomson Reuters and works as an innovative platform connecting
        corporates, employees and charities whereby unallocated corporate hospitality tickets are
        redonated to TicketAid.</p>
        <p>Employees can then buy these tickets at face value, with the proceeds
        going to an assigned charity selected by the donator of the ticket.
      </p>
      <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div><!-- 3rd column end -->
  </div><!-- row end -->
</div><!-- stories end -->
