<div class="row red-sections container-space hidden-sm hidden-xs">
  <div class="container">
    <div id="welcome" class="welcome jumbotron jumbotron-fluid red-sections">
      <h1>
        <span class="title">
          Resources<br class="hide-for-small">
        </span>
      </h1>
    </div>
  </div>
</div>


<div id="video" class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="embed-responsive embed-responsive-16by9 shadow-one">
      <%= get_vimeo_iframe('https://vimeo.com/263504711', width="100%", height="auto") %>
    </div>
  </div>
</div>


<div id="movement" class="row red-sections container-space">
  <div class="container">
    <div class="col-md-6 text-center">
      <h2>Documents</h2>
      <%= link_to "Doc1", root_url+"10.03.2018 - Circle Whitepaper OYW Version.pdf", { target: '_blank' } %>
    </div>
    <div class="col-md-6 text-center">
      <h2>Podcasts</h2>
    </div>
  </div>
</div>
