<div class="row text-center chapters mt-1">
  <div class="col-xs-4">
    <%= link_to "Back", @chapter %>
  </div>
  <div class="col-xs-4">
    <h2 class="title">Edit <%= @chapter.city %></h2>
  </div>
  <div class="col-xs-4">
    <%= link_to 'Chapters', chapters_path %>
  </div>
</div>
<div class="row text-center">
  <%= render 'form', chapter: @chapter %>
</div>
