// ============ CHAPTERS INDEX ============
.chapters {
  .table > tbody > tr > td {
    line-height: 1;
  }
}

// ============ CHAPTERS SHOW ============
.chapterShow {
  .row {
    display: flex;
  }

  select {
    width:100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
  }
}
