/* BOOTSTRAP OVERRIDES */

// Global styles for font
* {
  font-family: 'Raleway', sans-serif;
  font-weight:200;
}

.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.mt-3 {
  margin-top: 3em;
}

.mt-4 {
  margin-top: 4em;
}

.pager li > a,
.pager li > span {
  background: #fff;
  color: #dc3545;
  border: 1px solid #dc3545;
  transition: .2s;

  &:hover {
    background: #dc3545;
    color: #fff;
    border: 1px solid #fff;

  }
}
// Adds space so that 'yeild' content sits below NAV
body {
  padding-top: 50px;
}

.container-fluid {
  padding-left:0;
  padding-right:0;
}

// ========== NAV SECTION START ===========
.navbar {
  background: #dc3545;
  border-bottom: none;
  padding-bottom: 5px;
  // below makes NAV bar links white and bold
  .nav-link a, .nav-link {
    color: white !important;
    font-weight: bold !important;
  }
}

.transparent-bg {
  background: transparent;
}

// styles for logo in NAV
.navbar-brand {
  padding-top:5px;
  padding-bottom:5px;
  width: 75px;
}
// change collapsed nav icon bars colour
.icon-bar {
  background-color: white !important;
}
// ========== NAV SECTION END ===========

// ========== ALL BUTTON STYLES START ===========
.btn {
  text-transform: uppercase;
  font-weight:bold;
  margin-top:30px;
}
// ========== ALL BUTTON STYLES END ===========

// ========== ALL RED SECTIONS START ===========
.red-sections   {
  background-color: #dc3545;
  color: #fff !important;

  h1,h2,h3,h4,h5 {
    color: #fff !important;
  }
  a {
    color: #fff !important;
  }
  .btn-primary {
    background-color: #fff;
    color: #dc3545 !important;
  }
}
// ========== ALL RED SECTIONS END ===========

// ========== CONTAINER SEPERATOR START ===========
.container-space {
  padding-top:50px;
  padding-bottom:50px;
}
// ========== CONTAINER SEPERATOR END ===========

// ========== STORIES SECTION START ===========
.stories-header {
  padding: 20px 0;
  text-align: center;
}
.stories {
  .stories_image {
    width:100px;
    height:100px;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
  }
}
// ========== STORIES SECTION END ===========

// ========== PARALLAX START ===========
.city-lights {
  background-image: url("/images/city_lights.jpeg");
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.city-bg {
  background-image: url("/images/city_bg.jpeg");
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
// ========== PARALLAX END ===========


// ========== FOOTER SECTION START ===========
footer {
  padding: 10px 0px;
  text-align: center;
  position:sticky;
  bottom:0;
  width: 100%;
}
// ========== FOOTER SECTION END ===========

@media only screen and (max-width: 991.98px) {
  .city-lights {
    height: 350px;
  }

  .city-bg {
    height: 350px;
  }
}

@media only screen and (max-width: 768px) {
  .city-lights {
    height: 30vh;
  }

  .city-bg {
    height: 30vh;
  }
}
