// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-form {
  form {
    padding: 0 20px;
  }
}

.formfields{
  text-align: center;
}

.newproject{
  text-align: center;
}

.projects-table {
  tbody {
    tr {
      a {
        &:hover {
          background: none;
          color: #dc3545;
          text-decoration: none;
        }
      }
    }
  }
}

.new-project {
  color: white;

  &:visited {
    color: white;
  }
}
