// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {
  .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar-brand {
    .img-responsive {
      width:30px;
      margin-top: 5px;
    }
  }
}

.navbar-default .navbar-text {
  color: white !important;
}

.nav > li > a > img {
  width:20px;
}

// ==== RESPOSIVENESS ====
// WELCOME MESSAGE
// when <= 767px, reduce welcome message font-size
@media screen and (min-width: 574px) and (max-width: 767px) {
  .welcome {
    h1 {
      font-size: 5rem;
    }
  }
}

// PITCH TO THE CIRCLE & STORIES FROM CLIENTS and WELCOME
// when <= 991px, center align welcome text join/pitch to circle content
@media screen and (max-width: 991px) {
  .content-responsive, .welcome h1 {
    text-align: center;
  }
}
// when >= 992px, center align join/pitch to circle content
@media screen and (min-width: 992px) {
  .content-responsive {
    text-align: justify;
  }
}
