// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {

  .container-fluid {

    padding-left: 20px;
    padding-right: 20px;

  }

  .navbar-brand {
    .img-responsive {
      width:30px;
      margin-top: 5px;
    }
  }
}

.navbar-default .navbar-text {
  color: white !important;
}

.nav > li > a > img {
  width:20px;
}
