// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-picture{
  height: 200px;
  width: 200px;
  margin: 50px 0;
}
