$white: #fff;
$brand-primary: #dc3545;
$font-size-base:16px;
$headings-font-weight: 200;
$navbar-default-bg: $brand-primary;
$navbar-border-radius: 0px;
$navbar-height: 56px;
$navbar-default-link-color: $white;
$navbar-margin-bottom: 0px;
$navbar-default-border: none;
$headings-color: $brand-primary;
$btn-default-color: $brand-primary !important;


